#outer {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/heavy-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#inner {
    background-color: rgba(0, 0, 0, 0.7);
}