#outer {
    background-image: url("../img/chalkboard-effect.png");
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
}

.scroll_overflow {
    overflow: auto;
}